.body {
 position: relative;
}

/* NAVBAR */
.navbar-brand {
 padding-top: 10px;
 padding-bottom: 10px;
}

.navbar-brand {
 color: #455761 !important;
}

.navbar-brand:hover {
 color: #1A96A4!important;
}

.navbar .nav-link:hover {
 color: #C47BB4 !important;
}

.navbar .nav-link {
 font-size: 1.2em;
}

.navbar-brand {
 font-size: 1.8em;
 font-weight: bold;
}

/* LANDING PAGE IMAGE */
/*used this hack to as image was not dispalying when deployed on github pages*/
.jumbotron {
 background-image: url('https://maluda-ie.github.io/maluda-portfolio/assets/images/leaf-main.jpg'); 
 background-repeat: no-repeat;
 background-size: cover;
 height: 600px;
}

/* PAGE HEADERS */

h2 {
 font-family: 'Karla', sans-serif;
 font-size: 2.5em;
 color: #455761 !important;
}

.lead {
 font-size: 1em;
}

@media only screen and (min-width: 961px) {
 .lead {
  font-size: 1.3em;
 }
}

.row:before, .row:after {
 display: inline-block !important;
}


/* FOOTER - SOCIAL MEDIA LINKS */
.footer {
 justify-content: center;
 display: block;
}

.fab {
 padding: 0px 10px;
 font-size: 1.2em;
 color: #455761;
}
 
.fab:hover {
 color: #C47BB4;
}







