.footer {
 justify-content: center;
 display: block;
}

.fab {
 padding: 0px 10px;
 font-size: 1.2em;
}
 


/*
.portfolio{
 margin: 4em 0;
 position: relative; 
}
.portfolio h1{
 color:#F97300;
 margin: 2em; 
}
.portfolio img{
  width: 100%;
  margin: 1em;
}




