.body {
 position: relative;
}

.navbar-brand {
 padding top: 10px;
 padding-bottom: 10px;
}

.navbar-brand {
 color: #455761 !important;
}

.navbar-brand:hover {
 color: #1A96A4!important;
}

.navbar .nav-link:hover {
 color: #C47BB4 !important;
}

.navbar .nav-link {
 font-size: 1.2em;
}

.navbar-brand {
 font-size: 1.8em;
 font-weight: bold;
}

.jumbotron {
 background-image: url(/assets/images/leaf-main.jpg);
 background-repeat: no-repeat;
 background-size: cover;
 height: 600px;
 
}


h2 {
 font-family: 'Montserrat', sans-serif;
 padding-bottom: 30px;
}

.btn-primary {
 background-color: #5B7D98 !important;
 border: none;
}

.btn-primary:hover {
 background-color: #106DA0 !important;
}

.footer {
 justify-content: center;
 display: block;
}

.fab {
 padding: 0px 10px;
 font-size: 1.2em;
}
 








